body{
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
}

.title{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 110px;
    text-align: center;
}

.big-title{
    font-weight: 600;
    font-size: 50px;
    text-transform: capitalize;/*каждое новое слово с боьшой буквы*/
    color: #333333;
    margin-bottom: 10px;/*растояние между текстами*/


}
.active{
    color: #fd8569;

}

.small-title{
    color: #7a7a7a;
    text-align: center;
}

.work-card{
    width: 100%;
    padding: 46px 46px 0 46px;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    position: relative;
    transition: .3s;
    cursor: pointer;
    user-select: none;
    margin-bottom: 40px;



}

.work-name{
    font-size: 20px;
    font-weight: 600;
    margin: 25px 0;
}

.work-text{
    font-size: 15px;
    text-align: center;
}

.work-button{
    width: 90%;
    min-width: 200px;
    max-width: 300px;
    height: 55px;
    color: black;
    background-color: white;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -27px;
    box-shadow: 0 5px 5px 0 rgb(231, 231, 231, .5);
    transition: .3s;
}

.plus{
    margin-right: 15px;
}

.work-card:hover{
    box-shadow: 0 0 5px 0 rgb(150,150,150);
}

.work-card:hover >.work-button{
    box-shadow: 0 5px 5px  ;
}

.blue{
    background: #4eb2f7;

}

.purple{
    background: #c049f8;

}
.violet{
    background: #817eff;
}
.coral{
    background: #f74770;
}

.works{
    padding-top:145px ;
    padding-bottom: 110px;

}
.featureds{
    background: #fbfbfb;
    padding-top: 130px;
    padding-bottom: 130px;

}
.card{
    width: 100%;
    background-image: url('../img/cat.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;

}

.card::after{
    content: '';
    display: block;
    padding-top: 100%;
}